.shiny-text {
    color: #b5b5b5;
    /* Base color set in JS for more flexibility */
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 60%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    display: inline-block;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 200%;
    }

    100% {
        background-position: -200%;
    }
}

.shiny-text.disabled {
    animation: none;
    background: none;
    -webkit-text-fill-color: inherit;
}