.spotlight-card {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.spotlight-overlay {
    pointer-events: none;
    position: absolute;
    inset: 0px;
    transition: opacity 0.3s;
    z-index: 2;
}

.spotlight-content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}